<div class='container'>
<h1 class='font-weight-bold mt-3 dlvry-profiles'> Delivery Profiles </h1>
    <div class='row m-auto mt-5'>
        <% @profiles.each do |profile| %>
            <%= render "shared/deliveryprofile", profile: profile %>
        <% end %>
    </div>
</div>