<!DOCTYPE html>
<html>
  <head>
    <title>Salads For Weight Loss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container'>

        <table class="table table-sm table-striped mt-5" style="max-width: 15rem;"> 
        <tr class="table-dark">
            <th>Salad Name</th>
            <th>Size</th>
            <th>Calories</th>
            <th>Total Fat (g)</th>
            <th>Saturated Fat (g)</th>
            <th>Trans Fat (g)</th>
            <th>Cholesterol (mg)</th>
            <th>Sodium (mg)</th>
            <th>Carbohydrates (g)</th>
            <th>Fiber (g)</th>
            <th>Sugar (g)</th>
            <th>Protein (g)</th>
            <th>Vegetarian</th>
            <th>Vegan</th>
            <th>Gluten Friendly</th>
            <th>Dairy Friendly</th>
            <th>Allergens</th>
        </tr>
        
        <tr>
            <td>Roasted Autumn</td>
            <td>1 Salad</td>
            <td>460</td>
            <td>16</td>
            <td>4</td>
            <td>0</td>
            <td>70</td>
            <td>980</td>
            <td>55</td>
            <td>5</td>
            <td>30</td>
            <td>29</td>
            <td>X</td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Milk, Tree Nuts</td>
        </tr>
        <tr>
            <td>COBB</td>
            <td>1 Salad</td>
            <td>510</td>
            <td>33</td>
            <td>7</td>
            <td>0</td>
            <td>285</td>
            <td>111O</td>
            <td>14</td>
            <td>2</td>
            <td>5</td>
            <td>37</td>
            <td></td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Egg,Milk</td>
        </tr>
        <tr>
            <td>BBQ RANCH</td>
            <td>1Salad</td>
            <td>400</td>
            <td>18</td>
            <td>5</td>
            <td>0</td>
            <td>75</td>
            <td>930</td>
            <td>32</td>
            <td>2</td>
            <td>4</td>
            <td>32</td>
            <td>X</td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Milk, Wheat</td>
        </tr>
        <tr>
            <td>BUFFALO CHICKEN (includes a Buffalo Chicken portion)</td>
            <td>1 Salad</td>
            <td>360</td>
            <td>13</td>
            <td>2.5</td>
            <td>0</td>
            <td>80</td>
            <td>2050</td>
            <td>30</td>
            <td>1</td>
            <td>7</td>
            <td>33</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Milk, Wheat</td>
        </tr>
        <tr>
            <td>CAESAR</td>
            <td>1 Salad</td>
            <td>300</td>
            <td>10</td>
            <td>4</td>
            <td>0</td>
            <td>75</td>
            <td>890</td>
            <td>25</td>
            <td>3</td>
            <td>4</td>
            <td>32</td>
            <td>X</td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Milk, Wheat</td>
        </tr>
        <tr>
            <td>GREEK</td>
            <td>1 Salad</td>
            <td>280</td>
            <td>12</td>
            <td>5</td>
            <td>0</td>
            <td>80</td>
            <td>1270</td>
            <td>15</td>
            <td>2</td>
            <td>5</td>
            <td>27</td>
            <td>X</td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Milk</td> 
        </tr>
        <tr>
            <td>JALAPEÑO RANCH</td>
            <td>1 Salad</td>
            <td>410</td>
            <td>22</td>
            <td>4</td>
            <td>0</td>
            <td>100</td>
            <td>970</td>
            <td>19</td>
            <td>2</td>
            <td>6</td>
            <td>31</td>
            <td></td>
            <td></td>
            <td>X</td>
            <td></td>
            <td>Milk</td> 
        </tr>
        <tr>
            <td>THAI</td>
            <td>1 Salad</td>
            <td>180</td>
            <td>2.5</td>
            <td>1</td>
            <td>0</td>
            <td>60</td>
            <td>520</td>
            <td>16</td>
            <td>4</td>
            <td>6</td>
            <td>24</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td></td>
        </tr>


  <!-- Repeat this for all the rows -->
</table>
    </div>
  </body>
</html>





